<html>
<body>
    <div class="login">
       <h1>Document Classification</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        
        <div class="mb-3">
            <p><label for="text">Enter your document text below:</label></p>
            <textarea id="text" name="text" rows="10" cols="100"></textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Classify the Document!" required />
        </div>
    
    <h2>
       Document Type: {{results}}
    </h2>
    </form>
   <body>
</html>